.container {
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    padding: 7rem 4rem 0 0;
    height: auto;
}



.items {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20rem;
}

.itemsNumber {
    margin-left: 1rem;
    background-color: #fff;
}

.itemsNumber p {
    background-color: #fff;
}

span {
    color: #317773;
}
.checkout {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    height: 9rem;
    margin-bottom: 20rem;
}

.checkoutSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    height: 15rem;
    width: 25rem;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
}

.buttons button {
    margin-right: 1rem;
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}

.butt1 {
    background-color: #fff;
    color: #317773;
}

.butt1:hover {
    color:#3f4b4b;
    font-size: 14px;
    transition:0.1s ease;
}

.butt2 {
    background-color: #317773;
}

.butt2:hover {
    background-color:#3e9994;
    transition:0.1s ease;
}

.checkClear {
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    justify-content: space-around;
    width: 28rem;
    height: 12rem;
    padding:0 0 20px 20px;
    border-radius: 10px;
    margin-bottom: 18rem;
}

.checkClear h1 {
    font-size: 26px;
}

.backButton {
    text-decoration: none;
    color: #fff;
    background-color: #317773;
    width: 5.5rem;
    height: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}