.Container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ProductsContainer {
    margin-top: 8rem;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    width: 80%;
}